@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto+Slab:wght@100;200;300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin-bottom: 60px;
}

.font-w-b {
  font-weight: bold;
}

.font-w-n {
  font-weight: normal;
}

.book-store {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 26px;
}

.header {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  padding: 28px;
}

.book-header {
  align-items: center;
  display: flex;
  margin-left: 14px;
  width: 65%;
}

.main-title {
  width: 240px;
  height: 37px;
  font-size: 30px;
  color: #0290ff;
  margin-right: 2%;
}

.btn-books {
  background-color: #fff;
  border: none;
  margin-right: 8%;
}

.filter {
  background-color: #fff;
  border: none;
  height: 30px;
  width: 125px;
}

.filter:focus {
  outline: none;
}

.user-img {
  display: flex;
  justify-content: flex-end;
  width: 35%;
}

.book-container {
  background-color: #f7f7f7;
  padding-top: 30px;
}

.book-list {
  border-bottom: 1px solid #e8e8e8;
  margin: auto 35px 20px;
  padding-bottom: 20px;
}

.content {
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 170px;
  padding: 5px;
}

.category {
  width: 49px;
  height: 18px;
  opacity: 0.5;
  font-size: 14px;
  color: #121212;
}

.font-r-slab {
  font-family: RobotoSlab;
}

.font-monts {
  font-family: Montserrat;
}

.title {
  height: 29px;
  font-size: 22px;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-detail {
  padding-left: 8px;
}

.btn-book .btn {
  border: none;
  margin-right: 5px;
}

.btn-del {
  text-align: left;
}

.book-progress .btn {
  padding: 8px;
  height: 33px;
  width: 184px;
  margin-top: 25px;
}

.book-info span,
.btn-book .btn {
  background-color: #fff;
  width: 107px;
  height: 19px;
  font-size: 14px;
  color: #4386bf;
}

.btn-book .btn:hover,
.btn-book .btn:focus {
  cursor: pointer;
  outline: none;
}

.book-info {
  margin-bottom: 20px;
}

.book-info .hidden {
  display: none;
}

.font-w-300 {
  font-weight: 300;
}

.author {
  display: block;
}

.reading-status {
  align-items: center;
  display: flex;
}

.percent {
  width: 68px;
  height: 39px;
  font-size: 32px;
  color: #121212;
}

.completed {
  width: 80px;
  height: 18px;
  opacity: 0.5;
  font-size: 14px;
  color: #121212;
}

.current-chapter {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-size: 13px;
  color: #121212;
}

.chapter {
  width: 75px;
  height: 21px;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #121212;
}

.book-progress {
  margin-right: 40px;
}

.btn-blue {
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.form-container {
  margin: auto 35px;
}

.form-title {
  width: 174px;
  height: 24px;
  font-size: 20px;
  letter-spacing: -0.18px;
  color: #888;
}

.form-input {
  width: 44%;
  height: 45px;
  margin-right: 10px;
}

.form-category {
  width: 35%;
  height: 45px;
  margin-right: 12px;
}

.btn-add {
  width: 184px;
  height: 45px;
  text-transform: uppercase;
}
