.book-store {
  margin: auto 35px;
}

.book {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f3f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
}

.btn-book .btn {
  border: none;
  color: #33ee;
  margin: 5px;
}

.btn-book .btn:hover, .btn-book .btn:focus {
  cursor: pointer;
  outline: none;
}

.book-progress .btn {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
}
